*template gepetto_the_toymaker_made_a.text
Once there was a toymaker named Gepetto.
Lacking a son and wanting one desperately, he tried to make one, using all his skill.

*template boy.prompt
Was it a boy?

*template giant_robot.prompt
Or was it a giant robot?

*template boy.choose
Yes, it was a wooden boy.
*include wooden.include

*template killed_a_stranger.show
1=1
