*template view_gepetto_the_toymaker_made_a
Once there was a toymaker named Gepetto.
Lacking a son, he tried to make one, using all his skill.

*template preview_boy
Was it a boy?

*template preview_giant_robot
Or was it a giant robot?

*template choose_boy
Yes, it was a wooden boy.
include_wooden

*template can_preview_killed_a_stranger
1=1




