*template view_gepetto_the_toymaker_made_a
Once there was a toymaker named Gepetto.
Lacking a son, he tried to make one, using all his skill.

*template pre_boy
Was it a boy?

*template pre_giant_robot
Or was it a giant robot?

*template choose_boy
Yes, it was a wooden boy.
include_wooden

*template if_accidentally_killed_someone

*template pre_killed_a_stranger
1=2

*template pre_killed_gepetto
1=1


